{% extends 'base.html' %}
{% block content %}

        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Sobre mim</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Bem-Vindo aos Petiscos & Ariscos</p>
                </div>
            </div>
        </header>

        <div class="container">
            <div class="row">
                <center>
                    <div class="col-8">
                        <p align="justify">
                        <br/>
                        A minha paixão pela cozinha comecou desde cedo quando ajudava a minha avó a fazer diferentes especialidades caseiras, então tive a oportundidade desde pequena aprender e tomar nota
                        das melhores mãos da cozinha. Já venci vários concursos portugueses de colinária e tive oportunidade de aparecer como capa de revista como prémio desses concursos.
                        <br/><br/>
                        Já fui convidada para trabalhar em diferentes cozinhas mas com a idade agora o meu foco é cozinhar através de casa, talvez no futuro começar com uns videos no tiktok a mostrar
                        as minhas habilidades e disponibilizar diferentes receitas para todo tipo de publico. 
                        <br/>
                        </p>
                    </div>
                </center>
            </div>
        </div>


{% endblock %}