

<!--navigation bar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="{% url 'home' %}">Petiscos & Ariscos</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'home' %}">Página Principal</a></li>
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'search' %}">Procurar</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">Sobre</a></li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Loja</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'category_summary' %}">Todos os Produtos</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'Entradas' %}">Entradas</a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'Carnes' %}">Carnes</a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'Peixes' %}">Peixes</a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'Dietas' %}">Dietas</a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'Saladas' %}">Saladas</a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'Tabuas' %}">Tábuas</a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'Sobremesas' %}">Sobremesas</a></li>
                    </ul>
                </li>

                {% if user.is_authenticated %}
                {% if user.is_superuser %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Pedidos</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'shipped_dash' %}">Pedidos Finalizados</a></li>
                        <li><a class="dropdown-item" href="{% url 'not_shipped_dash' %}">Pedidos Inacabados</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="{% url 't_home' %}">Testes</a></li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Perfil</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'update_user' %}">Atualizar Perfil</a></li>
                        <li><a class="dropdown-item" href="{% url 'update_profile' %}">Atualizar Informação</a></li>
                    </ul>
                </li>

                <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Sair</a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Entrar</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Registar</a></li>
                {% endif %}
                
            </ul>
            <form class="d-flex">
                <a href="{% url 'cart_summary' %}" class="btn btn-outline-dark"><i class="bi-cart-fill me-1"></i>
                    Carrinho
                    <span class="badge bg-dark text-white ms-1 rounded-pill" id="cart_quantity">{{ cart|length }}
                    </span></a>
            </form>
        </div>
    </div>
</nav>